{% extends "base.html" %}

{% block content %}
    
	<style>
	
	.detail-heading{
		height: auto;
		background: linear-gradient(-135deg, #c850c0, #4158d0);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 55px;
		font-family: "Poppins", Arial, Helvetica, sans-serif;
		letter-spacing: 2px;
		word-spacing: 15px;
		margin-top: 42px;
		font-weight: 600;
		padding: 10px 10px 10px 30px;

	}

	.frow{
		display:flex;
		justify-content:center;
		margin: 130px 0px;
	}
	
	</style>


   
    <div class="container">
		<h1 class="text-center" style='background: linear-gradient(-135deg, #c850c0, #4158d0);
										-webkit-background-clip: text;
										-webkit-text-fill-color: transparent;
										letter-spacing: 2px;
										word-spacing: 15px;margin-top: 42px;'>Welcome to Carsify!</h1>
	</div>
	<br>
	<h3 class='text-center'>Introducing India’s First B2B Auto Dealer Platform</h3>
	<div class="frow">
	<div class="card text-white bg-dark mb-3" style="min-width: 16rem; margin:0px 50px;">
		
		<div class="card-body">
			<h5 class="card-title text-center"><a href="{% url 'accounts:signup' %}" style='text-decoration:none; color:white'>Sign-up</a></h5>
			
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="min-width: 16rem; margin:0px 50px;">
		
		<div class="card-body">
			<h5 class="card-title text-center"><a href="#" style='text-decoration:none; color:white'>Services</a></h5>
			
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="min-width: 16rem; margin:0px 50px;">
		
		<div class="card-body">
			<h5 class="card-title text-center"><a href="#" style='text-decoration:none; color:white'>Dashboard</a></h5>
		
		</div>
	</div>
	<div class="card text-white bg-dark mb-3" style="min-width: 16rem; margin:0px 50px;">
		
		<div class="card-body">
			<h5 class="card-title text-center"><a href="{% url 'home:profile' user_id=request.user.id %}" style='text-decoration:none; color:white'>My Profile</a></h5>
			
		</div>
	</div>
	</div>

{% endblock content %}