{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">

    #h5{
        color:black
    }
	.image-container{
		max-width: 250px;
		height: auto;
	}
	.field-heading{
		color: var(--secondary-text-color);
	}
	.icon-container:hover {
		opacity: 0.3;
		cursor: pointer;
	}

</style>

<div class="container-fluid" style='margin: 50px 0px'>
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

		<div class="card profile-card m-2">
		  <div class="card-body">
            <div class="d-flex flex-column justify-content-center p-4">
                <div class="image-container mx-auto mb-4">
		  			<img class="d-block border border-dark rounded-circle img-fluid mx-auto profile-image" alt="carsifylogo" id="id_profile_image" src="{% static 'images/avatar1.png' %}">
		  		</div>
		  	
		  		<p class="mt-4 mb-1 field-heading">Email</p>
		  		<h5 style='color:black'>{{email}}</h5>

		  		<p class="mt-4 mb-1 field-heading">Username</p>
		  		<h5 style='color:black'>{{username}}</h5>

		  		
		  		<a  class="mt-4 btn btn-primary" style='width:255px;' href="#">Update</a>
				<div class="d-flex flex-column mt-4">
				    <a class="m-auto" href="#">Change password</a>
				</div>
		  		
		  	</div>
		  </div>
		</div>
        <div class="card profile-card m-2 ">
            <div style='margin: 50px 100px'>
            <form class='logout-link' action='{% url 'accounts:logout' %}' method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-primary" type="submit">Logout</button>
                
                
            </form>
            <p style='color:black; margin-top: 20px;'>Deals = 13</p>

            <button class="btn btn-outline-primary">Purchases</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}